*{
  font-family: "Open Sans", serif;
}

#page{
  width: 1120px;
  margin: auto;
  padding: 88px;
}

span{
  font-weight: bold;
}

.paragraph{
  font-style: italic;
  color: #333333;
  text-align: center;
  font-size: 16px;
}

img{
  border-radius: 28px;
}

h1{
  font-size: 36px;
}

h3{
  font-size: 28px;
}

.subtitle{
  font-size: 16px;
  color: #E1624F;
  text-transform: uppercase;
}

.list-1, .list-2, .list-3{
  margin-top: 64px;
}

#busan-image p{
  font-style: italic;
}

.indication{
  font-weight: bold;
}

#list ul li{
  font-weight: bold;
}

.history{
  color: #0C51A7;
}

.casals{
  color: #591B98;
}

.family{
  color: #E5245E;
}

.money{
  color: #E95E10;
}

footer{
  text-align: center;
}

